{% extends "base_generic.html" %}

{% block content %}
<h2>{{ video.name}}</h2>
        {{ video.widget| safe}}
        {{ video.story}}

<br>
<h3>Comments</h3>
        {% for comment in comments%}
        <div class="user-comment rounded-right">
        <h4>{{ comment.user.username}}</h4>
                <h4>{{ comment.title}}</h4>
                <p>{{ comment.body}}</p>
        </div>
        {% endfor %}
<br>
<h3>Add your comment</h3>
        <form action="/videos/{{video.id}}/comments" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
        </form>
{% endblock %}
