.content-block {
    border-style: solid;
    border-color:black;
    border-width: 0.1px;
    margin-top:30px;
    background-color:#e2edff;
}

.image-text-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 100%
    max-width:100%;
    max-height:100%;
    z-index:10;
    color:white;

}

.home-image{
opacity: 0.7;
max-width:100%;
max-height:100%;
}

.transparent-layer{
    position: absolute;

background-color:red;
z-index:5;
}

#logo-image{
    width:100px;
    height:100px;
}

#logo-name{
display:inline;}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color:grey;
}

.link{
color:white;}


.fit-view{
max-width:100%
max-height:100%
}

*{
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.comment-submit{
margin-bottom: 50px;
}

.comment-username {
 color:grey;
}