{% load staticfiles %}

<html>
    <head>
        <title>Cars expert</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <!--<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
    </head>

<body>
    <div class="page-header">


        <nav class="navbar navbar-dark bg-dark">
            <a href="/">
        <img src="{% static 'images/logo.png' %}" id="logo-image">
                <h2 id="logo-name" class="link">Car Finder</h2>
            </a>

        <ul class="list-inline">
            <li class="list-inline-item"><a class="link" href="/services">Service</a></li>
        {% if user.is_authenticated %}
            <li class="list-inline-item"><a class="link" href="/quizzes">Quizzes</a></li>
            <li class="list-inline-item"><a class="link" href="/videos">Videos</a></li>


            <li class="list-inline-item"><a class="link" href="/quizzes/marks">My Quizzes</a></li>
            <li class="list-inline-item"><a class="link" href="/accounts/logout">Log Out</a></li>
        {%else%}
            <li class="list-inline-item"><a class="link" href="/accounts/register">Register</a></li>
            <li class="list-inline-item"><a class="link" href="/accounts/login">Login</a></li>

        {%endif%}

        </ul>
        </nav>
    </div>


    <div class="row">
    <div class="col-12 col-md-8">



      <div class="container">

    <div class="col-6">
      {% block content %}
            {% endblock %}
    </div>
      </div>


  </div>
  <div class="col-6 col-md-4">
    {%block second_content%}
    {% endblock %}
  </div>
</div>


<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
</style>


<footer class="footer">
      <div class="container">
        <span class="text-muted">

        <ul class="list-inline">
        <li class="list-inline-item" ><a class="link" href="/"> About Us </a></li>
        <li class="list-inline-item"><a class="link" href="/legal">Terms and Conditions</a></li>
        {% if user.is_authenticated %}
                <li class="list-inline-item"><a class="link" href="/feedback">provide feedback</a></li>
            {%endif%}
        </ul>

        </span>
      </div>
</footer>
</body>
</html>